IDI_ICON1 ICON DISCARDABLE "icons/fuhcoin.ico"
IDI_ICON2 ICON DISCARDABLE "icons/fuhcoin-testnet.ico"

#include <windows.h>             // needed for VERSIONINFO
#include "../../clientversion.h" // holds the needed client version information

#define VER_PRODUCTVERSION     fuhcoin_VERSION_MAJOR,fuhcoin_VERSION_MINOR,fuhcoin_VERSION_REVISION,fuhcoin_VERSION_BUILD
#define VER_PRODUCTVERSION_STR STRINGIZE(fuhcoin_VERSION_MAJOR) "." STRINGIZE(fuhcoin_VERSION_MINOR) "." STRINGIZE(fuhcoin_VERSION_REVISION) "." STRINGIZE(fuhcoin_VERSION_BUILD)
#define VER_FILEVERSION        VER_PRODUCTVERSION
#define VER_FILEVERSION_STR    VER_PRODUCTVERSION_STR
#define COPYRIGHT_STR          "2013-" STRINGIZE(COPYRIGHT_YEAR) " The fuhcoin developers"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English - multilingual (hex)
        BEGIN
            VALUE "CompanyName",        "fuhcoin"
            VALUE "FileDescription",    "fuhcoin-Qt (OSS GUI client for fuhcoin)"
            VALUE "FileVersion",        VER_FILEVERSION_STR
            VALUE "InternalName",       "fuhcoin-qt"
            VALUE "LegalCopyright",     COPYRIGHT_STR
            VALUE "LegalTrademarks1",   "Distributed under conditional MIT/X11 software license, see the accompanying file COPYING."
            VALUE "OriginalFilename",   "fuhcoin-qt.exe"
            VALUE "ProductName",        "fuhcoin-Qt"
            VALUE "ProductVersion",     VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1252 // language neutral - multilingual (decimal)
    END
END
